<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lxbrvr.keepassxcalfred</string>
	<key>connections</key>
	<dict>
		<key>3F5B4A74-E524-4ADE-B5FF-1E481FCAB6F5</key>
		<array>
		</array>
		<key>582F3D94-E0EA-4181-8A7F-BA9C87AC9C08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A0E09EA-CA20-48DC-9F7D-CAFFB6981BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>298D37E2-5DF5-4CC9-AC1E-975328E6FF60</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9131D8B1-D408-4126-91D4-88493D169CE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7146D7E9-9CC8-4AB4-A4CD-DE15B707908C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35C9CF21-8C3A-4CEB-AFEC-0DA08ED7D3CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>298D37E2-5DF5-4CC9-AC1E-975328E6FF60</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FB76DBD5-26A5-444E-9A47-ABC54F61E804</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F5B4A74-E524-4ADE-B5FF-1E481FCAB6F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FC22BDD2-0870-4886-8B58-7D306E8EE9FF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5220E64D-387E-4FA5-AE40-51937778C9FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F468ECAB-7285-4D5D-806F-5C3765EED841</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5304F2E-3703-45AE-985B-3D66C24D07E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A73C0DF-14BB-43B4-B5F3-CBDBC59CE711</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD5FD911-2F89-4F00-A8E3-D59DB8944A3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5220E64D-387E-4FA5-AE40-51937778C9FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD945AA0-4476-42FA-8930-ECD7DAC27DBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9A33F6E-4CCA-4C52-9064-0A71529B26F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9A33F6E-4CCA-4C52-9064-0A71529B26F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35C9CF21-8C3A-4CEB-AFEC-0DA08ED7D3CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>298D37E2-5DF5-4CC9-AC1E-975328E6FF60</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>582F3D94-E0EA-4181-8A7F-BA9C87AC9C08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F5B4A74-E524-4ADE-B5FF-1E481FCAB6F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FC22BDD2-0870-4886-8B58-7D306E8EE9FF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5220E64D-387E-4FA5-AE40-51937778C9FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F468ECAB-7285-4D5D-806F-5C3765EED841</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F51F13EF-FFAE-46EB-A4E1-2282CE664D61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7146D7E9-9CC8-4AB4-A4CD-DE15B707908C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB76DBD5-26A5-444E-9A47-ABC54F61E804</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD945AA0-4476-42FA-8930-ECD7DAC27DBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB85467F-7AF7-44FE-838F-77BC33F47E3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F5B4A74-E524-4ADE-B5FF-1E481FCAB6F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEE8847A-8F6F-45CD-9D2C-2964B8634408</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DF2FBB4-C11B-4F61-A730-1B216ACD4935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Abrosimov</string>
	<key>description</key>
	<string>Alfred workflow for fetching KeepassXC entries and coping their attributes.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>KeepassXC Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:alfred_keyword} {var:USER_QUERY}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>3A0E09EA-CA20-48DC-9F7D-CAFFB6981BA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:alfred_keyword}:settings</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>35C9CF21-8C3A-4CEB-AFEC-0DA08ED7D3CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>settings</string>
						<key>outputlabel</key>
						<string>open settings</string>
						<key>uid</key>
						<string>298D37E2-5DF5-4CC9-AC1E-975328E6FF60</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>express</string>
						<key>outputlabel</key>
						<string>start express init</string>
						<key>uid</key>
						<string>F468ECAB-7285-4D5D-806F-5C3765EED841</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>KEEPASSXC_MASTER_PASSWORD</string>
						<key>outputlabel</key>
						<string>ask password</string>
						<key>uid</key>
						<string>FC22BDD2-0870-4886-8B58-7D306E8EE9FF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7146D7E9-9CC8-4AB4-A4CD-DE15B707908C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>settings</string>
						<key>outputlabel</key>
						<string>open settings</string>
						<key>uid</key>
						<string>298D37E2-5DF5-4CC9-AC1E-975328E6FF60</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>express</string>
						<key>outputlabel</key>
						<string>start express init</string>
						<key>uid</key>
						<string>F468ECAB-7285-4D5D-806F-5C3765EED841</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>KEEPASSXC_MASTER_PASSWORD</string>
						<key>outputlabel</key>
						<string>ask password</string>
						<key>uid</key>
						<string>FC22BDD2-0870-4886-8B58-7D306E8EE9FF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fetch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D9A33F6E-4CCA-4C52-9064-0A71529B26F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:alfred_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python2 cli.py search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search entries in KeepassXC</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F51F13EF-FFAE-46EB-A4E1-2282CE664D61</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python2 cli.py fetch "${KP_ITEM_PATH}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD945AA0-4476-42FA-8930-ECD7DAC27DBA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>back</string>
						<key>uid</key>
						<string>298D37E2-5DF5-4CC9-AC1E-975328E6FF60</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>582F3D94-E0EA-4181-8A7F-BA9C87AC9C08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>KP_ITEM_PATH</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FB76DBD5-26A5-444E-9A47-ABC54F61E804</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9131D8B1-D408-4126-91D4-88493D169CE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:alfred_keyword}:settings</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python2 cli.py settings_list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View the settings and change them.</string>
				<key>title</key>
				<string>Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FB85467F-7AF7-44FE-838F-77BC33F47E3D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript settings.js change $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F5B4A74-E524-4ADE-B5FF-1E481FCAB6F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript settings.js reset</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7DF2FBB4-C11B-4F61-A730-1B216ACD4935</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:alfred_keyword}:reset</string>
				<key>subtext</key>
				<string>Reset of the setitngs to default state.</string>
				<key>text</key>
				<string>Reset</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FEE8847A-8F6F-45CD-9D2C-2964B8634408</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:alfred_keyword}:init</string>
				<key>subtext</key>
				<string>Express initialization of main parameters.</string>
				<key>text</key>
				<string>Express initialization</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD5FD911-2F89-4F00-A8E3-D59DB8944A3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript settings.js init</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5220E64D-387E-4FA5-AE40-51937778C9FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:alfred_keyword}:about</string>
				<key>subtext</key>
				<string>Open the project page on github.</string>
				<key>text</key>
				<string>About</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5304F2E-3703-45AE-985B-3D66C24D07E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/lxbrvr/alfred-keepassxc-workflow</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0A73C0DF-14BB-43B4-B5F3-CBDBC59CE711</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A73C0DF-14BB-43B4-B5F3-CBDBC59CE711</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>865</integer>
		</dict>
		<key>35C9CF21-8C3A-4CEB-AFEC-0DA08ED7D3CB</key>
		<dict>
			<key>note</key>
			<string>Calls settings</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>3A0E09EA-CA20-48DC-9F7D-CAFFB6981BA1</key>
		<dict>
			<key>note</key>
			<string>Calls the first workflow item. User will return to search with his query.</string>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>3F5B4A74-E524-4ADE-B5FF-1E481FCAB6F5</key>
		<dict>
			<key>note</key>
			<string>Runs the script for setting key configuration</string>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>5220E64D-387E-4FA5-AE40-51937778C9FB</key>
		<dict>
			<key>note</key>
			<string>Runs the script for express initialization</string>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>582F3D94-E0EA-4181-8A7F-BA9C87AC9C08</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>7146D7E9-9CC8-4AB4-A4CD-DE15B707908C</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>7DF2FBB4-C11B-4F61-A730-1B216ACD4935</key>
		<dict>
			<key>note</key>
			<string>Runs the script for settings reset</string>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>9131D8B1-D408-4126-91D4-88493D169CE2</key>
		<dict>
			<key>note</key>
			<string>Copies a selected attribute to clipboard</string>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>C5304F2E-3703-45AE-985B-3D66C24D07E4</key>
		<dict>
			<key>note</key>
			<string>Open the project page on github.</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>865</integer>
		</dict>
		<key>CD5FD911-2F89-4F00-A8E3-D59DB8944A3B</key>
		<dict>
			<key>note</key>
			<string>Express initialization of main parameters.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>CD945AA0-4476-42FA-8930-ECD7DAC27DBA</key>
		<dict>
			<key>note</key>
			<string>Fetches data for requested entry from KeepassXC</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>D9A33F6E-4CCA-4C52-9064-0A71529B26F8</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F51F13EF-FFAE-46EB-A4E1-2282CE664D61</key>
		<dict>
			<key>note</key>
			<string>Search entries in KeepassXC</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>FB76DBD5-26A5-444E-9A47-ABC54F61E804</key>
		<dict>
			<key>note</key>
			<string>Saves a KeepassXC entry term to an environment variable. It is necessary for avoid displayed data in query field in the next workflow item.</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>FB85467F-7AF7-44FE-838F-77BC33F47E3D</key>
		<dict>
			<key>note</key>
			<string>View the settings and change them.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>FEE8847A-8F6F-45CD-9D2C-2964B8634408</key>
		<dict>
			<key>note</key>
			<string>Reset of the setitngs to default state.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alfred_keyword</key>
		<string>kp</string>
		<key>desired_attributes</key>
		<string></string>
		<key>entry_delimiter</key>
		<string></string>
		<key>keepassxc_cli_path</key>
		<string></string>
		<key>keepassxc_db_path</key>
		<string></string>
		<key>keepassxc_keyfile_path</key>
		<string></string>
		<key>keepassxc_master_password</key>
		<string></string>
		<key>keychain_account</key>
		<string></string>
		<key>keychain_service</key>
		<string></string>
		<key>show_attribute_values</key>
		<string></string>
		<key>show_passwords</key>
		<string></string>
		<key>show_unfilled_attributes</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>keepassxc_db_path</string>
		<string>keepassxc_cli_path</string>
		<string>keychain_account</string>
		<string>desired_attributes</string>
		<string>keepassxc_keyfile_path</string>
		<string>keepassxc_master_password</string>
		<string>keychain_service</string>
		<string>show_attribute_values</string>
		<string>show_unfilled_attributes</string>
		<string>entry_delimiter</string>
		<string>show_passwords</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/lxbrvr/alfred-keepassxc-workflow</string>
</dict>
</plist>
